form#user-bonus-account-filter-form div.form-item {
  float: left;
  width: 30%;
  margin-right: 5%;
}

form#user-bonus-account-filter-form div.form-item.form-item-user-bonus-account-filter-tel {
  margin-right: 0;
}

form#user-bonus-account-filter-form div.form-item.form-item-user-bonus-account-filter-tel:after {
  clear: both;
}

table.views-table {
  border: 0;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 0;
}

table.views-table caption {
  border: 1px solid #3f4042;
  padding: 10px 15px;
  background-color: #3f4042;
  color: #fff;
  font-size: 17px;
}

table.views-table th,
table.views-table td {
  border: 1px solid #3f4042 !important;
  text-align: center;
  vertical-align: middle !important;
  background-color: #fff;
}

.img-thumbnail {
  margin-left: 2px !important;
  padding: 2px !important;
  background-color: transparent !important;
  border: 0 !important;
}
